<div id="horizontalTab" class="r-tabs" style="display: table; direction: rtl;">
  <ul class="r-tabs-nav">
    <li class="r-tabs-tab r-tabs-state-default"><a href="#tab-1" class="r-tabs-anchor">نظرات</a></li>

    <li class="r-tabs-tab r-tabs-state-default"><a href="#tab-2" class="r-tabs-anchor">جزئیات</a></li>
    <li class="r-tabs-tab r-tabs-state-default"><a href="#tab-3" class="r-tabs-anchor">نحوه ارسال</a></li>

  </ul>

  <div class="r-tabs-accordion-title r-tabs-state-default"><a href="#tab-1" class="r-tabs-anchor">نظرات</a></div>
  <div id="tab-1" class="r-tabs-panel r-tabs-state-default">


    <%= form_for [@item, Comment.new] do |f| %>
        <% if !user_signed_in? %>
            <p><%= f.text_field :auther, :placeholder => "نام و نام خانوادگی" %></p>
        <% end %>
        <p><%= f.text_area :body, :placeholder => "نظر شما...", :rows => 10, :id => "comment" %></p>

        <p>

        <div class="actions"><%= f.submit "ثبت نظر" %></div>
        </p>
    <% end %>


    <% @comments.each do |comment| %>
        <div class="comment">
          <div class="authername">
            <%= image_tag 'default_avatar_75px.png' %>
            <%= comment.auther %>
            <span><%= comment.created_at.strftime("%d %B %y") %></span>
            <% if session[:comment_ids] && session[:comment_ids].include?(comment.id) %>
                <%= link_to "ویرایش", edit_comment_path(comment) %>
            <% end %>
          </div>
          <div class="body"><%= comment.body %></div>


        </div>
    <% end %>

  </div>

  <div class="r-tabs-accordion-title r-tabs-state-default"><a href="#tab-2" class="r-tabs-anchor">نحوه ارسال</a>
  </div>
  <div id="tab-2" class="r-tabs-panel r-tabs-state-default">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu scelerisque eros. Fusce ante orci,
      hendrerit sit amet metus sit amet, venenatis sodales felis. Morbi vel mi in leo dignissim convallis in a
      neque. Suspendisse sollicitudin nibh non dapibus condimentum. Etiam sit amet arcu ultricies, porttitor justo
      eget, scelerisque urna. Praesent non ligula nec ligula euismod condimentum eget sed augue. Ut feugiat, turpis
      id sollicitudin vestibulum, tellus massa adipiscing nisl, quis cursus nisl arcu vel ipsum.</p>
  </div>
  <div class="r-tabs-accordion-title r-tabs-state-default"><a href="#tab-3" class="r-tabs-anchor">جزئیات</a></div>
  <div id="tab-3" class="r-tabs-panel r-tabs-state-default">
    <p>Quisque sodales sodales lacus pharetra bibendum. Etiam commodo non velit ac rhoncus. Mauris euismod purus
      sem, ac adipiscing quam laoreet et. Praesent vulputate ornare sem vel scelerisque. Ut dictum augue non erat
      lacinia, sed lobortis elit gravida. Proin ante massa, ornare accumsan ultricies et, posuere sit amet magna.
      Praesent dignissim, enim sed malesuada luctus, arcu sapien sodales sapien, ut placerat eros nunc vel est.
      Donec tristique mi turpis, et sodales nibh gravida eu. Etiam odio risus, porttitor non lacus id, rhoncus
      tempus tortor. Curabitur tincidunt molestie turpis, ut luctus nibh sollicitudin vel. Sed vel luctus nisi, at
      mattis metus. Aenean ultricies dolor est, a congue ante dapibus varius. Nulla at auctor nunc. Curabitur
      accumsan feugiat felis ut pretium. Praesent semper semper nisi, eu cursus augue.</p>
  </div>

</div>