<div style="display: none;">
  <% @items.each do |item| %>
      <tr>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  <%= link_to 'New Item', new_item_path %>
</div>
<div class="wrapper2">
  <div id="container-box" class="container span9">
    <div class="error err-space">
      <div id="system-message-container">
      </div>
    </div>
    <div class="module new">
      <h3><span><span><%= @page_title %></span></span></h3>

      <div class="wrapper">
        <div class="vmgroup new">
          <ul id="vmproduct1" class="vmproduct new">
            <li class="item">
              <% if params[:category] %>
                  <%= render 'dense_view' %>
              <% else %>
                  <% @items.each do |item| %>
                      <div class="product-box">
                        <div class="browseImage">
                          <%= link_to (image_tag item.photos.first._photo.url(:square)), item_path(item.id), :class => "browseProductImage featuredProductImage", :border => "0" %></a>
                        </div>
                        <div class="fleft">
                          <div class="fright">
                            <div class="Title">
                              <span class="count">01.</span><a href="#" title=
                            <% item.title %>><%= item.title %></a></div>
                            <div class="Price">
                              <span class="sales"> <%= item.price %> هزار تومان </span>
                            </div>
                          </div>
                          <div class="feft">
                            <div class="Details">
                              <%= link_to "جزئیات", item, :class => "button" %>
                            </div>
                            <div class="addtocart-area">
                              <form method="post" class="product" action="index.php" id="addtocartproduct12">
                                <input name="quantity" type="hidden" value="1"/>

                                <div class="addtocart-bar2">
                                  <%= link_to "", cartings_path(:item_id => item, :quantity => "1"), :method => :post, :class => "addtocart-button" %>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
